[user]
	email = ricardo.rocha@cern.ch
	name = Ricardo Rocha
	signingkey = 9CCCC35F8FE9280206B514D7019C0F8D5453F6BE
[push]
	default = matching
[diff]
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
