bin/*
!bin/ldap2abook
!bin/mailsync
!bin/mons
!bin/mutt_oauth2.py
!bin/os-coe-config
!bin/paste-bot
.gnupg/crls.d
.gnupg/private-keys-v1.d
.gnupg/pubring.gpg*
.gnupg/pubring.kbx*
.gnupg/secring.gpg
.gnupg/trustdb.gpg
.mutt/*cache
.mutt/Archives*
.mutt/isyncpass.gpg
.ssh/id_dsa
.ssh/id_rsa
.ssh/known_hosts
.vim/.netrwhist
.weechat/logs
.config/autorandr/autorandr
.gnupg/.gnupg
.gnupg/.gpg-v21-migrated
.gnupg/5453F6BE-key-export.asc
.gnupg/gnupg_spawn_agent_sentinel.lock
.gnupg/gpg-agent.conf
.gnupg/random_seed
.gnupg/sshcontrol
.i3/.i3
.irssi/.irssi
.mutt/.mutt
.vim/.vim
.weechat/.weechat
