bin/*
!bin/ldap2abook
!bin/mailsync
!bin/paste-bot
.gnupg/crls.d
.gnupg/pubring.gpg~
.gnupg/private-keys-v1.d
.gnupg/pubring.gpg
.gnupg/secring.gpg
.gnupg/trustdb.gpg
.mutt/*cache
.mutt/Archives*
.mutt/isyncpass.gpg
.ssh/id_dsa
.ssh/id_rsa
.ssh/known_hosts
.vim/.netrwhist
.weechat/logs
